.book-card{
  border-radius: 1em;
  .book-container{

    background-color: rgba(255,255,255, 0.3);

    .card-header::after{
      content: none;
    }
    .book-content{
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
      min-height: var(--f7-list-item-min-height);
      padding: 0 10px;
      .book-img{
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        align-items: center;
        box-sizing: border-box;
        width: 35%;
        img{
          width: 100%;
          height: auto;
        }
      }

      .book-img + .book-inner{
        margin-left: var(--f7-list-item-media-margin);
      }
      .book-inner {
        position: relative;
        width: 100%;
        min-width: 0;
        // display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        align-self: stretch;
        padding-top: var(--f7-list-item-padding-vertical);
        padding-bottom: var(--f7-list-item-padding-vertical);
        min-height: var(--f7-list-item-min-height);
        padding-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
        .book-title{
          min-width: 0;
          flex-shrink: 1;
          white-space: var(--f7-list-item-title-white-space);
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          font-size: 20px;
          font-weight: 600;
          color: #381413;
          line-height: var(--f7-list-item-title-line-height);
          padding-bottom: 10px;
        }
        .book-price{ 
          font-size: 14px;
          font-weight: 400;
          color: #381413;
          
        }
        p{
          font-size: 15px;
          color: #483030;
        }
      }
    }
    .card-footer{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.login-title{
  font-family: sans-serif;
}

.sign-button{
  margin-top: 20px;
}

.intro-container{
  width: 100%;
  height: 100%;
  background-image: url("/images/intro.jpg");
  background-size: cover;
  background-position: center;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  .title{
    color: white;
    font-size: 80px;
    font-family: cursive;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
  }
  .sub_title {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  .row{
    position: absolute;
    bottom: 5%;
    width: 80%;
    margin-left: 10%;
    .button{
      font-weight: bold;
      font-family: sans-serif;
      font-size: larger;
      color: white; 
    }
  }
}

.book-show {
  .book-main {
    padding-top: calc(var(--f7-navbar-height) + 50px);
    margin-top: calc(-1 * var(--f7-navbar-height));
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    position: relative;
    color: white;
    .col-80 {
      bottom: 30px;
      position: absolute;
      left: 25%;
      .book-title{
        font-size: 20px;
        font-weight: 900;
        padding-bottom: 5px;
        
      }
      .book-info {
        padding-bottom: 3px;
      }
      .book-subinfo {
        font-size: 11px;
        padding-bottom: 3px;
      }
    }
  }
  
}
.book-show .book-img{
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  width: 20%;
  img{
    width: 100%;
    height: auto;
  }
}

